.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
  margin-bottom: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

li {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 5px;
}

li span.todo-header {
  font-weight: bold;
  margin-right: 5px;
}

li span.todo-detail {
  font-style: italic;
  margin-left: 5px;
}